# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [1]:
# Add your code for Question 1 in this code block
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [17]:
# Add your code for Question 2 in this code block
data = pd.read_csv('application_data.csv')
data.head()

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [22]:
data['appilcationDate'] = pd.to_datetime(data['appilcationDate'])
data['repaymentDueDate'] = pd.to_datetime(data['repaymentDueDate'])
data['repaymentPaidDate'] = pd.to_datetime(data['repaymentPaidDate'])

Now that the dates have been converted, How many `unique` data types are contained within the application dataset?

In [23]:
data.dtypes.value_counts()

datetime64[ns]    3
int64             2
object            2
float64           2
dtype: int64

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [27]:
# 2a avg loan amount
round(data['LoanAmount'].mean(),2)

13828.08

In [28]:
# 2b avg interest rate
round(data['InterestRate'].mean(),2)

23.06

In [29]:
# 2c avg term days 
round(data['TermDays'].mean(),2)

42.08

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [36]:
# number of loans more than 3 days late
data['dateDifference'] = (data['repaymentPaidDate'] - data['repaymentDueDate']).dt.days
late = data[data['dateDifference'] > 3]
late.shape

(145, 10)

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

In [42]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
round(data.groupby('TermDays').agg({'LoanAmount': ['mean', 'std']}),2)

         LoanAmount
               mean       std
TermDays
15          1274.09   2885.97
30          7941.96   1606.04
45         10706.25   2346.14
60         25710.53  11559.65
90         37672.73  18050.14
120        45055.56  22192.97
180        80988.10  34612.22

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [54]:
late['WOM'] = late['appilcationDate'].dt.week
round(late.groupby('WOM').agg({'dateDifference': ['mean']}),2)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

    dateDifference
              mean
WOM
1            87.60
2            45.75
3            16.50
4            37.92
5            18.00
6            39.71
7            29.25
8            25.15
9            55.86
10           29.25
11           71.50
12           19.50
13           34.00
14           14.00
15            7.00
17           34.50
19           66.50
20           28.00
21           10.00
22           88.00
23           11.00
24           36.00
26           27.33
27            4.00
28            7.00
29           69.00
30           65.00
31          108.00
32           15.50
33           30.00
34           14.00
35            4.00
36           39.33
37           17.20
38           60.00
39            9.00
40            9.00
41            8.00
42           20.00
44            9.00
45            6.00
48           18.00

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.